# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.AdvancedSection01.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\riderProject\C#AdvancedSection\AdvancedSectionProject\AdvancedSection\AdvancedSection01\.idea\.idea.AdvancedSection01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
